 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments.html :: head('博客管理')">
</head>
<body>
  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(0)">
  </nav>


  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success large  message">
        <h3>Hi,</h3>
        <p>杜威武，欢迎登录！</p>
      </div>

      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582997107406&di=a8d7f1379d7fd69c0105dfda62c900e8&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201206%2F09%2F20120609134226_wwjdk.jpeg" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>

  <br>
  <br>

  <!--底部footer-->
  <footer th:replace="admin/_fragments.html :: footer">
  </footer>


  <th:block th:replace="admin/_fragments :: script">
  </th:block>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>