<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiwu.blog.mapper.TypeMapper">

    <resultMap id="baseTypeMap" type="com.weiwu.blog.domain.Type">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <sql id="baseColum">
        id, name
    </sql>

    <insert id="saveType" parameterType="com.weiwu.blog.domain.Type"  keyColumn="id"  keyProperty="id" useGeneratedKeys="true">
        insert into t_type (name) values (#{name})
    </insert>

    <select id="getById" parameterType="long" resultMap="baseTypeMap">
        select <include refid="baseColum"/> from t_type where id = #{id}
    </select>

    <select id="getTypeByName" parameterType="string" resultMap="baseTypeMap">
        select <include refid="baseColum"/> from t_type where name = #{name}
    </select>

    <select id="list" resultMap="baseTypeMap">
        select <include refid="baseColum"/> from t_type
    </select>


    <update id="updateType" parameterType="com.weiwu.blog.domain.Type">
        update t_type set  name = #{name} where id = #{id}
    </update>


    <delete id="deleteType" parameterType="long">
        delete  from t_type where id = #{id}
    </delete>

    <select id="indexTypeTopList" resultMap="baseTypeMap">
        SELECT
            blog.type_id AS id,
            type.`name` AS `name`,
            COUNT( * ) AS blogCount
        FROM
            t_blog blog
            RIGHT JOIN t_type type ON type.id = blog.type_id
        GROUP BY
            blog.type_id
        ORDER BY
            blogCount DESC
    </select>

</mapper>