<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head('关于我')">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: nav(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
</nav>
  <!--中间内容-->
  <div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582997107406&di=a8d7f1379d7fd69c0105dfda62c900e8&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201206%2F09%2F20120609134226_wwjdk.jpeg" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">嗨，欢迎来到我的博客小站，这里是一位iOS开发者，正在学习Java，五月天的老粉。</p>
            <p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">编程</div>
            <div class="ui orange basic left pointing label">动漫</div>
            <div class="ui orange basic left pointing label">运动</div>
            <div class="ui orange basic left pointing label">游戏</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Swift</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Flutter</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">RN</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="https://github.com/weiwu0904" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
<!--            <a href="#" class="ui wechat circular icon button" data-content="wb2144"><i class="weixin icon"></i></a>-->
            <a href="#" class="ui qq circular icon button" data-content="web2144" data-position="bottom center"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="214438687" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

<!--          <div class="ui wechat-qr flowing popup transition hidden">-->
<!--            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">-->
<!--          </div>-->
          </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    $('.qq').popup();

  </script>
</body>
</html>